body{
    height: 100%;
    padding:0;
    margin:0;
    font-family: 'Montserrat', sans-serif;
}
h2{
    margin-top: 2%;
}

.form{
    font-family: 'Montserrat', sans-serif;
    font-size: 1.3rem;
    width: 40%;
    padding: 30px;
    margin: 50px auto;
    border-radius: 5px;
    font-weight: bold;

}
input[textarea]
{
    height: auto;
}
.subtitle
{
    font-weight: 100;
}
p{
    font-size: 0.8rem;
}
.navbar-brand
{
    font-size: 2rem;
    font-family: 'Faster One', cursive;
}
#extraInfo
{
    margin-right: 15%;
}
.logo
{   font-size: 2rem;
    font-family: 'Faster One', cursive;
}
#barChart 
{
    height: 200px;
    width: 800px;
    margin: auto;
    background-color: orangered;
}
a:hover{
    text-decoration: none;

}